extends layout

block links
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="import", href="/components/paper-button/paper-button.html")
  link(rel="import", href="/components/paper-shadow/paper-shadow.html")


block content
  paper-shadow.card(z=1)

