extends layout

block links
  link(rel="import", href="/components/paper-button/paper-button.html")
  link(rel="import", href="/components/paper-shadow/paper-shadow.html")

  link(rel="stylesheet", href="/stylesheets/add-data.css")

block content
  h3 Add data

block scripts
  script(src="/javascripts/add-data.js")
