extends layout

block content
  .container
    h1 Administration
    h3 Game Settings
      // list all games in each region
    h3 Display Settings
      // display boards in each region




block scripts
