extends layout

block content
  .container
    h1 Administration
    h3 Game Settings
      // list all games in each region
    h3 Display Settings
    .well
      .input-group.col-md-5
        input(type="text", value="http://192.168.1.143:3000/", placeholder="display address")#displayAddress
      .btn-group
        button(type="button")#displayAddressTest.btn.btn-default Test
        button(type="button")#displayAddressSubmit.btn.btn-default Connect
      // display boards in each region




block scripts
  script(src='/javascripts/admin.js')
