extends scaffold-layout

block links
  link(rel='stylesheet', href='/stylesheets/game-summary.css')
  link(rel="import", href="/components/core-item/core-item.html")
  link(rel="import", href="/components/core-icon/core-icon.html")

block menu-header
  a(href="/") 
    core-icon(src="/images/icon_dark_m.png").big
    span sportsync

block menu-items
  core-submenu(label="Score")
    core-item(label="One")
    core-item(label="Two")
    core-item(label="Three")
    core-item(label="Four")
  core-submenu(label="Events")
    core-item(label="One")
    core-item(label="Two")
  core-submenu(label="Players")
    core-item(label="One")

block page-title
  i Example Team vs Example Team


block content
  h1 Score
  h1 Events
  h3 Last event
  h3 Current event
  h3 Next event
  h1 Players

  p Data from previous headings needs to be tied to menu info
  p Polymer site great example
