extends scaffold-layout

block links
  link(rel='stylesheet', href='/stylesheets/game-summary.css')
  link(rel="import", href="/components/core-item/core-item.html")
  link(rel="import", href="/components/core-icon/core-icon.html")

block menu-header
  a(href="/") 
    core-icon(src="/images/icon_dark_m.png").big
    span sportsync

block menu-items
  core-submenu(icon="settings")
    core-item(label="Two")

block page-title
  i Example Team vs Example Team


block content
  h1 Example Team vs Example Team
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
  p toast
