extends layout

block links
  link(rel="import", href="/components/core-toolbar/core-toolbar.html")
  link(rel="import", href="/components/core-header-panel/core-header-panel.html")
  link(rel="import", href="/components/paper-icon-button/paper-icon-button.html")

  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  core-header-panel(flex mode="waterfall")
    core-toolbar
      span(flex)
      div.headerLinks
        a(href="/current-game") Demo
        a(href="/") sportsync
        a(href="/login") Log in
      span(flex)
    .content
      .introduction
        div
          img(src="/images/icon_v2.svg" height=200)
          img(src="/images/icon_light.svg" height=200)
      h1 sportsync
      p This is a summary, but just a brief summary.

block scripts
  script(src="/javascripts/index.js")
