extends layout

block links
  link(rel="import", href="/components/core-toolbar/core-toolbar.html")
  link(rel="import", href="/components/core-header-panel/core-header-panel.html")
  link(rel="import", href="/components/paper-button/paper-button.html")

  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  core-header-panel(flex mode="waterfall")
    core-toolbar.medium-tall
      paper-icon-button(icon="arrow-back")
      span(flex) Home
      paper-icon-button(icon="search")
    .content
      h1 TOast
        small lots of toast
      div.panel
        p toast
      div.panel
        p toast

block scripts
  script(src="/javascripts/index.js")
