extends layout

block links
  link(rel="import", href="/components/core-toolbar/core-toolbar.html")
  link(rel="import", href="/components/core-header-panel/core-header-panel.html")
  link(rel="import", href="/components/paper-icon-button/paper-icon-button.html")
  link(rel="import", href="/components/paper-button/paper-button.html")
  link(rel="import", href="/components/paper-shadow/paper-shadow.html")
  link(rel="import", href="/components/core-icon/core-icon.html")

  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  core-header-panel(flex mode="seamed")
    core-toolbar(horizontal center-justified layout)
      .header-content(fullbleed horizontal layout)
        a(href="/" flex) 
          core-icon(src="/images/icon_dark_m.png").big
          span sportsync
        .page-highlights(horizontal layout)
          a(href="/#features") features
          a(href="/#login") log in
    .content
      canvas#canvas.animated
      paper-shadow.card.section(z=1)
        a(href="/current-game") 
          paper-button Local Event
        a(href="/current-game") 
          paper-button Demo
        a(href="/region") 
          paper-button Regions




block scripts

  script.
    var anim = !{JSON.stringify(animate)};
    console.log(anim);
  script(src="/javascripts/fonts.js")
  script(src="/javascripts/index.js")
