doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="description",content="")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title Scoreboard
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

    script(src="/components/webcomponentsjs/webcomponents.js")
    link(rel="import", href="/components/polymer/polymer.html") 

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="import", href="/components/font-roboto/roboto.html")

    block links



  body(layout horizontal unresolved fullbleed)
    block content

  script(src="/components/jquery/dist/jquery.min.js")
  script(src="/components/page.js/page.js")

  block scripts
