extends layout

block links
  link(rel="import", href="/components/core-list/core-list.html")
  link(rel="import", href="/components/core-ajax/core-ajax.html")
  link(rel="import", href="/components/core-icon-button/core-icon-button.html")
  link(rel="import", href="/components/core-scaffold/core-scaffold.html")
  link(rel="import", href="/components/paper-shadow/paper-shadow.html")
  link(rel="import", href="/components/paper-spinner/paper-spinner.html")
  link(rel="import", href="/components/paper-button/paper-button.html")
  link(rel="import", href="/components/core-toolbar/core-toolbar.html")
  link(rel="import", href="/components/core-icon/core-icon.html")
  link(rel="import", href="/components/core-item/core-item.html")
  link(rel="import", href="/components/paper-item/paper-item.html")
  link(rel="import", href="/components/paper-toast/paper-toast.html")
  link(rel="import", href="/components/core-menu/core-menu.html")
  link(rel="import", href="/components/core-dropdown/core-dropdown.html")
  link(rel="import", href="/components/core-animated-pages/core-animated-pages.html")
  link(rel="import", href="/components/core-header-panel/core-header-panel.html")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/region-select.css")


block content
  template(is="auto-binding")#t
    core-ajax(auto, loading="{{loading}}", url="/api", response="{{regionsAvailable}}", handleAs="json", method="GET")#getRegions
    core-scaffold#scaffold
      core-header-panel(navigation flex mode="seamed")
        core-toolbar
          a(href="/index")
            core-icon-button(src="/images/icon_dark_m.png")
              span sportsync
        core-menu(selected="{{selected}}")
          template(repeat="{{region in regionsAvailable}}")#regionMenuList
            paper-item(on-tap="{{scrollTo}}") {{region.name}}
      div(tool)
        core-icon-button(icon="menu", on-tap="{{back}}")
        span(flex) Browse By
      .content
        div(layout center-justified horizontal center).loadingItem
          paper-spinner(active?="{{loading || !regionsAvailable}}")
          paper-toast(text="{{alert-text}}")#alert
        core-animated-pages(flex transitions="cross-fade-all hero-transition", selected="0")#pages
          section(cross-fade)
            template(repeat="{{region, i in regionsAvailable}}")#regionList
              div
                paper-shadow(id="{{region.name}}", z=1, hero-id="item-{{i}}", hero?="{{$.pages.selected === i+1}}").small.outer
                  .inner(class="{{selected==i ? '' : 'sm'}}")
                    div(layout horizontal)
                      core-icon-button(icon="{{selected == i ? 'expand-more' : 'chevron-right'}}", on-tap="{{selectView}}")
                      h3(flex self-center) {{region.name}}
                    div.summary
                      span Players: 10, Games: 100
                      p {{region._id}}
                    div.children(hidden?="{{selected !== i}}")
                      paper-button(on-tap="{{maxView}}") max!
            div(horizontal center-justified layout).refresh
              paper-button(raised on-tap="{{refresh}}")
                span refresh

          template(repeat="{{region, i in regionsAvailable}}")
            section(vertical layout)
              div(flex vertical center center-justified layout hero-id="item-{{i}}" hero?="{{$.pages.selected === i+1}}").view.outer
                span(cross-fade) LARGE


block scripts
  script(src="/javascripts/region-select.js")
