extends layout

block content
  .container
    h1 Welcome to #{region.name}
    if region.members.length > 0
      ul.list-group.games
        for member in region.members
          li.list-group-item
            a(href="/#{member._id}") #{member.name}
    a(href="/#{region._id}/add").btn.btn-default
      span.glyphicon.glyphicon-plus



block scripts
  script(src="/javascripts/region.js")
