extends layout

block links
  link(rel="import", href="/components/core-list/core-list.html")
  link(rel="import", href="/components/core-ajax/core-ajax.html")
  link(rel="import", href="/components/core-icon-button/core-icon-button.html")
  link(rel="import", href="/components/core-scaffold/core-scaffold.html")
  link(rel="import", href="/components/paper-shadow/paper-shadow.html")
  link(rel="import", href="/components/paper-input/paper-input.html")
  link(rel="import", href="/components/paper-spinner/paper-spinner.html")
  link(rel="import", href="/components/paper-button/paper-button.html")
  link(rel="import", href="/components/core-toolbar/core-toolbar.html")
  link(rel="import", href="/components/core-icon/core-icon.html")
  link(rel="import", href="/components/core-item/core-item.html")
  link(rel="import", href="/components/paper-item/paper-item.html")
  link(rel="import", href="/components/paper-toast/paper-toast.html")
  link(rel="import", href="/components/core-menu/core-menu.html")
  link(rel="import", href="/components/core-menu-button/core-menu-button.html")
  link(rel="import", href="/components/paper-menu-button/paper-menu-button.html")
  link(rel="import", href="/components/core-dropdown/core-dropdown.html")
  link(rel="import", href="/components/core-animated-pages/core-animated-pages.html")
  link(rel="import", href="/components/core-header-panel/core-header-panel.html")
  link(rel="import", href="/components/core-scroll-header-panel/core-scroll-header-panel.html")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/region-select.css")


block content
  template(is="auto-binding")#t
    core-ajax(auto, loading="{{loading}}", url="/api", response="{{regionsAvailable}}", handleAs="json", method="GET")#getRegions
    core-scaffold(mode="seamed")#scaffold
      core-header-panel(navigation flex mode="scroll")
        core-toolbar
          a(href="/index")
            core-icon-button(src="/images/icon_dark_m.png")
              span sportsync
        core-menu(vertical justified layout selected="{{selected}}")
          template(repeat="{{region in regionsAvailable}}")#regionMenuList
            paper-item(on-tap="{{scrollTo}}") {{region.name}}
          paper-button(raised on-tap="{{refresh}}")
            span refresh

      div(tool)
        core-icon-button(icon="{{ {'arrow-back' : $.pages.selected !== 0, 'view-stream' : arranged && $.pages.selected === 0, 'view-module' : !arranged && $.pages.selected === 0} | tokenList }}", on-tap="{{back}}")
        span(flex) {{{ 'Back' : $.pages.selected !== 0, 'Region Overview' : $.pages.selected === 0 }| tokenList }}
      .content
        div(layout center-justified horizontal center).loadingItem
          paper-spinner(active?="{{loading || !regionsAvailable}}")
          paper-toast(text="{{alert-text}}")#alert
        core-animated-pages(flex transitions="cross-fade-all hero-transition", selected="0")#pages
          div(horizontal?="{{arranged}}" layout?="{{arranged}}" cross-fade wrap?="{{arranged}}")
            template(repeat="{{region, i in regionsAvailable}}")#regionList
              div(style="{{arranged ? 'display: inline-block' : ''}}" self-center)
                paper-shadow(id="{{region.name}}", z=1, hero-id="{{region._id}}", hero?="{{$.pages.selected === i+1}}").small.outer
                  .inner(class="{{selected==i ? '' : 'sm'}}")
                    div(layout horizontal)
                      core-icon-button(icon="{{selected == i ? 'expand-more' : 'chevron-right'}}", on-tap="{{selectView}}")
                      h3(flex self-center) {{region.name}}
                    div.summary
                      span Players: 10, Games: 100
                      p {{region._id}}
                    div.children(hidden?="{{selected !== i}}")
                      paper-button(on-tap="{{maxView}}") max!

          template(repeat="{{region, i in regionsAvailable}}")
            section(vertical layout)
              div(flex vertical layout hero-id="{{region._id}}" hero?="{{$.pages.selected === i+1}}").view
                div(layout center-justified horizontal center).loadingItem
                  paper-spinner(active)
                div(layout horizontal flex)
                  core-header-panel(mode="scroll" flex)
                    core-toolbar
                      span {{region.name}}
                      span(flex)
                      paper-menu-button
                        core-icon-button(icon="menu")
                        core-dropdown(layered halign="right").dropdown
                          core-menu
                            paper-item(on-tap="{{toggleLogin}}") Admin
                            paper-item toast
                            paper-item toast
                            paper-item toast
                    .maxcontent(fit)
                      h2 Description
                      p Region description.
                      h2 Child Elements
                      h3 Display Boards
                      p board
                      h3 Teams
                      p element
                      h3 History
                      p element
                      h3 Players
                      p element
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                      p Space
                
        // login modal
        core-overlay(backdrop="true")#adminLogin
          paper-shadow(self-center vertical layout z=3).loginWindow
            h2 Admin 
            p Grants access to administrative actions
            paper-input(floatinglabel label="username")
            paper-input(floatinglabel label="password")
            br
            paper-button
              span Login


block scripts
  script(src="/javascripts/region-select.js")
