head
  link(rel='stylesheet', href='/stylesheets/test.css')

  script(src="/components/webcomponentsjs/webcomponents.js")
  link(rel="import", href="/components/polymer/polymer.html") 

  link(rel='import', href='/custom-elements/list-of/list-of.html')


body(fullbleed)
  template(is="auto-binding")

    core-ajax(url="/api/region", response="{{objects}}", handleAs="json", auto)
    section(layout vertical)
      list-of(items="{{objects}}")

    section(layout vertical)
      summary-of()


script(src="/components/jquery/dist/jquery.min.js")

block scripts
