head
  link(rel='stylesheet', href='/stylesheets/test.css')

body
  canvas#canvas
div.font(style="visiblity: hidden; height: 0")

block scripts
  script(src="/components/jquery/dist/jquery.min.js")
  //script(src="/javascripts/test.js")
  script(src="/javascripts/fonts.js")
  script(src="/javascripts/index.js")
