head
  link(rel='stylesheet', href='/stylesheets/test.css')
  link(rel='import', href='/custom-elements/list-of/list-of.html')

  script(src="/components/webcomponentsjs/webcomponents.js")
  link(rel="import", href="/components/polymer/polymer.html") 



body(fullbleed)
  list-of(layout horizontal)


block scripts
