head
  link(rel='stylesheet', href='/stylesheets/test.css')

body
  canvas#canvas

block scripts
  //script(src="/javascripts/test.js")
  script(src="/javascripts/StackBlur.js")
  script(src="/javascripts/index.js")
