link(rel="import", href="/components/more-routing/more-routing.html")


more-routing-config(driver="path")

more-route(name="loading", path="/")
more-route(name="index", path="/index")
more-route(name="demo", path="/demo")
