body {
  font-family: sans-serif;
	color:white;
}

a {
	position: relative;
}
core-header-panel {
  background-image: url('/images/tex_xxs_b.png');
  background: white;
}

core-toolbar {
  background-image: url('/images/tex_xxs_b.png');

}
#navheader {
  background: white;
}
.content {
  background-image: url('/images/tex_sm.png');
  padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}
