core-header-panel {
	background-color: #eee;
}

core-toolbar {
	background-color: #eee;
}

.headerLinks > a {
	padding-left: 20px;
	padding-right: 20px;
}

.headerLinks > a:hover {
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;

}


.content {
	margin: auto;
	padding: 0px 8px;
	min-height: 1000px;
	max-width: 500px;
}

.introduction {
	text-align: center;
}

.introduction div {
	margin: 0 auto;
	display: inline-block;
}
