html, body {
  background-color: grey;
}

core-scaffold::shadow core-toolbar {
  background:#00274D; /* right header color */
  color: #E8E8E8;  /* right header text color */
}

core-scaffold::shadow core-header-panel {
  color: #00274D; /* bottom right text color */
  background: #F0F0F0; /* bottom right background color */
}

.small {
	margin: 15px;
	padding: 8px;
	max-width: 500px;
  background: #E8E8E8;
}

.inner {
	height: 200px;
	overflow: hidden;
	transition: width 0.5s, height 0.5s, transform 0.5s;
}

.inner > div > h3 {
	margin: 0px;
}

.sm {
	height: 100px; /* height before selection */
}

/* view when full mode */
.view {
 	position: fixed;
 	height: calc(100% - 60px);
  width: 100%;
  background: #E8E8E8;
}

@media (min-width: 640px) {
  .view {
    width: calc(100% - 256px);
  }
}

/* loading spinner */
.loadingItem {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#test {
  position: fixed;
  background-color: black;
  height: 100px;
  width: 100%;
}

.refresh {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
