link(rel="import", href="/components/paper-shadow/paper-shadow.html")
link(rel="import", href="/components/paper-spinner/paper-spinner.html")
link(rel="import", href="/components/paper-input/paper-input.html")
link(rel="import", href="/components/paper-toast/paper-toast.html")
link(rel="import", href="/components/paper-item/paper-item.html")
link(rel="import", href="/components/core-ajax/core-ajax.html")
link(rel="import", href="/components/core-menu/core-menu.html")
link(rel="import", href="/components/core-menu/core-submenu.html")
link(rel="import", href="/components/core-animated-pages/core-animated-pages.html")


polymer-element(name="demo-page", attributes="data loading")
  template
    style.
      :host {
      }
      core-toolbar {
        background-color: rgba(0, 0, 0, 0);
      }
      .content {
        padding: 20px;
      }
      .add {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        border-radius: 20px;
        /*background-color: #E8E8E8;*/
      }
      .list {
        min-width: 300px;
      }
      .add-area {
        padding: 20px;
      }
      .back {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      
    div(fit vertical layout center)
      core-ajax(auto, loading="{{loading}}", url="/api/demo", response="{{data}}", handleAs="json", method="GET")#list
      paper-toast(text="test, toast")#toast
      core-animated-pages(fit, selected="{{sel}}", transitions="hero-transition cross-fade")
        section(vertical layout center)
          canvas.back
          h1(cross-fade) Active Regions

          div(cross-fade).list
            core-menu(selected="0")
              template(repeat="{{each in data}}")
                core-submenu(label="{{each.name}}")
                  core-item(label="players")
                  core-item(label="regions")

            template(if="{{data.length == 0}}")
              p No existing sessions

            div(hidden?="{{!loading}}" fit vertical layout center center-justified)
              paper-spinner(active?="{{loading}}")



          paper-shadow(hero-id="a" hero vertical layout center-justified center z=1 cross-fade).content
            core-icon-button(icon="add" on-click="{{_new}}") New Demo

        section(vertical layout center-justifed)
          paper-shadow(z=2 hero-id="a" hero self-center cross-fade layout vertical center-justified).add
            core-toolbar.toolbar
              core-icon-button(icon="close" on-click="{{close}}")
              span(flex) {{ newname || 'New Demo'}}

            .add-area(horiztonal layout end)
              core-ajax(url="/api/demo", loading="{{loading}}", method="POST", on-core-response="{{handle}}")#submit
              paper-input(flex, label="Name" type="text" floatingLabel=true value="{{ newname }}") Name
              div 
                core-icon-button(disabled?="{{!newname}}" icon="done" on-click="{{submit}}")

            
         


  script().
    Polymer('demo-page', {
      ready : function() {
        console.log(this.data);
      },
      _new: function() {
        this.sel = 1;
      },
      close: function() {
        this.sel = 0;
      },
      submit: function() {
        var sub = this.$.submit;
        var obj = [{ "name": this.newname }];
        console.log(JSON.stringify(obj));
        sub.contentType = "application/json";
        sub.body = JSON.stringify(obj);
        sub.go()
        this.newname = "";
        this.sel = 0;
      },
      handle: function(e) {
        this.$.toast.show()
        this.$.list.go()
      }
    });


