html, body {
  background-color: grey;
	height: 100%;
}

core-scaffold::shadow core-toolbar {
  background:#00274D; /* right header color */
  color: #E8E8E8;  /* right header text color */
}

core-scaffold::shadow core-header-panel {
  color: #00274D; /* bottom right text color */
  background: #F0F0F0; /* bottom right background color */
}
